<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <title></title>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<style>

</style>

<body>
<form class="form-horizontal col-md-8" role="form" style="padding: 100px 100px 10px;">
<div class="form-group">
    <label for="username" class="col-sm-2 control-label">姓名：</label>
    <div class="col-sm-3">
        <input type="text" id="username" class="form-control" name="username">
    </div>
</div>
<div class="form-group">
    <label for="password" class="col-sm-2 control-label">密码：</label>
    <div class="col-sm-3">
        <input type="password" class="form-control" id="password" name="password">
    </div>
</div>

<div class="form-group">
    <label for="vercode" class="col-sm-2 control-label">验证码：</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="vercode" name="vercode">
    </div>
      <img id="change"/>
</div>




<div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-success" style="width:250px" id="login">确认登录</button>
    </div>
</div>
</form>

</body>

<script>

    $("#login").click(
        function () {
            var username = $("#username").val();//获取页面中登录名和密码
            var password = $("#password").val();
            if (username == "" || password == "") {//判断两个均不为空（其他判断规则在其输入时已经判断）
                alert("手机号密码均不能为空！")
                return false;
            } else {//以上均符合要求，则调用登录接口
                $.ajax({
                    url: '/home/dologin',//相对应的接口地址
                    type: 'post',
                    data: {username,password},//向服务器（接口）传递的参数
                    success: function (data) {//服务器（接口）返回来的数据
                        if (data.code==200) {//如果返回来的信息说明提交的信息为正确的
                            window.location.href = data.msg;//正确登录后页面跳转至
                           // alert("1111")
                        }
                        else {//如果返回来的信息说明提供的信息为错误的
                        	alert(data.msg);
                        }

                    }

                })

            }

        }

    );

    /*直接点击enter免除手动点击登录按钮*/

    $(document).keyup(function (event) {

        if (event.keyCode == 13) {

            $("#login").trigger("click");

        }

    });
	/* 生成图片验证码 */
    $(function(){
        $.ajax({
            url: '/captcha',
            type: 'post',
            data: {},
            success: function(res){
                var suf = res.img;
                var src = 'data:image/png;base64,'+suf;
                $('#change').attr('src',src);
            }

        })

    })
</script>

</html>
