<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nj.zj.study.mapper.TestMapper">
	
	
	<select id="getallbyinfo" resultType="nj.zj.study.model.TestSwaggerInfo" parameterType="nj.zj.study.model.TestSwaggerInfo">
	select * from test
	where 
	
	<if test=" id!=null ">
	 id = #{id} 
	</if>
	<if test=" name!=null and name!=''">
	and name = #{name} 
	</if>
	
	<if test=" password!=null and password!=''">
	and password= #{password} 
	</if>
	</select>
	
	<update id="moreupdate" parameterType="list">
		<foreach collection="list" item="ac" index="index" open="" close="" separator=";">
			update test 
			<set>
				<if test="ac.name !=null and ac.name != ''">
						name=#{ac.name}
				</if>
				<!-- <if test="ac.age !=null ">
						age=#{ac.age}
				</if> -->
			</set>
			where age=#{ac.age}
		</foreach>
	</update>
	
	<select id="getbyage" parameterType="Integer" resultType="map">
		select *from test where age=#{age}

	</select>
</mapper>
	
